<ion-content color="primary" class="ion-padding">
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid class="ion-center">
      <ion-row>
        <ion-col size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Iniciar sesión</h3>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input name="email" type="email" placeholder="tuEmail@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Contraseña" ngModel required></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Enviar</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-left ion-padding-start">
            Y por si aún no tienes une cuenta...
            <a routerLink='/register'>regístrate</a>
            ya !
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
