<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/avatar.png" alt="avatar">
      </ion-avatar>
      <ion-label>
        <h3>Gerard DUCH JONAMA</h3>
        <p>Gerard9494@gmail.com</p>
      </ion-label>
    </ion-item>

    <ion-card-content>
      Número: 07 35 23 53 12
    </ion-card-content>

    <ion-button color="warning" (click)="logout()">Desconectarse</ion-button>
  </ion-card>
</ion-content>
